<!DOCTYPE html>
<html  lang="en"  xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>This is about page</title>
</head>
<body>
          <section> 
                    <div class="container">
                    <div class="row"> 
                    
                    <div class="col-md-6 offset-md-3">
                    
                  <div class="my-card mt-2">
                  
                    <div th:if="${session.message}==true" th:classappend="${session.message.type}" class="alert" role="alert">
                  <p th:text="${message.content}"></p>
                  
                  <th:block th:text="${#session.removeAttribute('message')}"></th:block>
               </div>
                  
                 <div class="text-center"> 
                          
                           <img  src="" th:src="@{/img/written-paper.png}" alt=""/>
                 
                 </div>
                  
                          <h1 class="text-center"> Register Here!!</h1>
                          
                          <form novalidate="novalidate"   action="" th:action="@{/do_register}" method="post" th:object="${user}">
                          
                          <!--  Name  -->
                          <div class="form-group">
                             <label for="name_field">Your Name</label>
                             <input 
                             name="name"
                             type="text" class="form-control"
                             th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}"
                             id="name_field" aria-describedby="emailHelp"
                             placeholder="Enter here"
                             required="required"
                             th:value="${user.name}"
                             />
                             
                            <div  th:each="e : ${#fields.errors('name')}"
                               th:text="${e}" id="validationServer03Feedback" class="invalid-feedback">
                               Please provide a valid userName
                           </div>
                            
                         </div>
                         
                         <!--  email  -->
                          <div class="form-group">
                             <label for="email_field">Your Email</label>
                             <input 
                             name="email"
                             type="email" class="form-control" 
                             
                             th:classappend="${#fields.hasErrors('email') ? 'is-invalid' : ''}" 
                             id="email_field" aria-describedby="emailHelp"
                             placeholder="Enter here"
                             required="required"
                             th:value="${user.email}"
                             />
                             
                             <div th:if="${#fields.hasErrors('email')}" th:each="e : ${#fields.errors('email')}"
                                     th:text="${e}" id="validationServer03Feedback" class="invalid-feedback">
                                      Please provide a valid email
                           </div>
                            
                         </div>
                           
                          <!--  Password  -->
                          <div class="form-group">
                              <label for="password_field">Your Password</label>
                              <input 
                              name="password"
                              type="password" class="form-control" 
                              th:classappend="${#fields.hasErrors('password') ? 'is-invalid' : ''}" 
                              id="password_field" aria-describedby="emailHelp"
                              placeholder="Enter here"
                              required="required"
                              
                               />
                               <div  th:each="e : ${#fields.errors('password')}"
                               th:text="${e}" id="validationServer03Feedback" class="invalid-feedback">
                               Please provide a valid userName
                               </div>
                               
                          </div>

                        <!-- user about field -->
                          
                           <div class="form-group" style="margin-top: 10px;"> <!-- Adding margin between the two elements -->
                           <textarea name="about" th:value="${user.about}" placeholder="Enter by yourself" rows="6" class="form-control"></textarea>
                           </div>
                           
                           
                           <!-- Terms and conditions agreement -->
                           
                           <div class="form-group form -check">
                           
                                    <input type="checkbox"
                                    name="agreement"
                                    class="form-check-input"
                                    id="agreement"
                                    
                                    />
                                    <label for="agreement">Accept terms and conditions </label>
                           
                           </div>
                           
                           
                           <div class="container text-center">
                           
                           <button type="submit" class="btn bg-primary btn-block text-white" style="margin-top: 10px;">
                               Submit
                           </button>
                          <button type="reset" class="btn btn-warning btn-block" style="margin-top: 10px;">
                                   Reset
                          </button>
                           
                           </div>

                          
                          </form>
                  </div>
                    
                    
                    
                    </div>
                    
                    </div>        
                    
                    </div>
          
          </section>
</body>
</html>